<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/front-end/main :: html1">
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
<header th:replace="layouts/front-end/main :: header"></header>

<section th:replace="layouts/front-end/main :: main-banner" id="banner"></section>


<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
  <div class="container">

    <div th:if="${cart_items == null}" class="alert alert-danger">
      Your Cart is Empty. <a class="gray_btn" th:href="@{/shop}" href="#">Continue Shopping</a>
    </div>
    <div class="billing_details">
      <div  class="row">
        <div class="col-lg-8">
          <h3>Address Information</h3>
          <form class="row contact_form" action="#" th:action="@{profile/update}" th:object="${customer}"  method="post">
            <input type="hidden" th:field="*{id}">
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" th:field="*{phone}" placeholder="Enter Phone No.">
            </div>
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" th:field="*{address}" placeholder="Enter Address">
            </div>
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" th:field="*{location}" placeholder="E.g. Benin City">
            </div>
            <div class="col-md-12 form-group p_star">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4" >
          <p th:if="${customer.id == null}" class="text-danger">
            Fill your address Information before you can checkout
          </p>
          <div th:unless="${customer.id == null}" class="order_box">

            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>
                </a>
              </li>
              <li th:if="${cart_items != null}" th:each="item : ${cart_items}">
                <span th:text="${item.productTitle}"></span>
                <span th:text="${item.getProductQuantity}" class="middle"></span>
                <span th:text="${item.cartPrice}" class="last"></span>
              </li>

            </ul>
            <ul class="list list_2">
              <li th:if="${cart_items != null}" th:text="${totalCartPrice}">

              </li>
            </ul>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option5" checked name="selector">
                <label for="f-option5">Check payments</label>
                <div class="check"></div>
              </div>
              <p>Payment on Delivery.</p>
            </div>

            <div class="creat_account">
              <input type="checkbox" checked id="f-option4" name="selector">
              <label for="f-option4">I’ve read and accept the </label>
              <a href="#">terms & conditions*</a>
            </div>

            <form action="" th:action="@{/order}" th:object="${order}" method="POST">
              <div class="form-group">
                <textarea class="form-control" th:field="*{body}" placeholder="Order Note"></textarea>
              </div>
              <div>
                <button class="main_btn " type="submit">Proceed</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->



<section th:replace="layouts/front-end/main :: subscription" id="subscription"></section>

<section th:replace="layouts/front-end/main :: footer" id="footer"></section>

<div th:replace="layouts/front-end/main :: script"></div>

</body>
</html>