<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/front-end/main :: html1">
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<header th:replace="layouts/front-end/main :: header"></header>

<section th:replace="layouts/front-end/main :: home-banner" id="banner"></section>

<!--================Feature Product Area =================-->
<section class="feature_product_area section_gap">
    <div class="main_box">
        <div class="container-fluid">
            <div class="row">
                <div class="main_title">
                    <h2>Products</h2>
                </div>
            </div>
            <div class="row">
                <div th:if="${products != null}" th:each="product : ${products}" class="col col1">
                    <div class="f_p_item">
                        <div class="f_p_img">
                            <img class="img-fluid" src="/assets/front-end/img/product/feature-product/f-p-1.jpg" alt="">
                            <div class="p_icon">
                                <a href="#">
                                    <i class="lnr lnr-heart"></i>
                                </a>
                                <a href="#" th:href="@{|shop/${product.id}/add-to-cart|}">
                                    <i class="lnr lnr-cart"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <h4 th:text="${product.title}"></h4>
                        </a>
                        <h5 th:text="${product.price}"></h5>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
<!--================End Feature Product Area =================-->

<section th:replace="layouts/front-end/main :: subscription" id="subscription"></section>

<section th:replace="layouts/front-end/main :: footer" id="footer"></section>

<div th:replace="layouts/front-end/main :: script"></div>
</body>
</html>