<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/front-end/main :: html1">
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
<header th:replace="layouts/front-end/main :: header"></header>

<section th:replace="layouts/front-end/main :: main-banner" id="banner"></section>

<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="alert alert-success" th:if="${cart_messasge}" th:text="${cart_messasge}"></div>
    <div class="cart_inner">
      <div th:if="${cart_items ==  null}" class="text-danger">No Item in cart</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${cart_items}">
            <td>
              <div class="media">
                <div class="d-flex">
                  <img src="img/product/single-product/cart-1.jpg" alt="">
                </div>
                <div class="media-body">
                  <p th:text="${item.productTitle}"></p>
                </div>
              </div>
            </td>
            <td>
              <h5 th:text="${item.cartPrice}"></h5>
            </td>
            <td>
              <div class="product_count" th:text="${item.getProductQuantity}">
<!--                <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">-->
<!--                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"-->
<!--                        class="increase items-count" type="button">-->
<!--                  <i class="lnr lnr-chevron-up"></i>-->
<!--                </button>-->
<!--                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value&#45;&#45;;return false;"-->
<!--                        class="reduced items-count" type="button">-->
<!--                  <i class="lnr lnr-chevron-down"></i>-->
<!--                </button>-->
              </div>
            </td>
            <td>
              <h5 th:text="${item.cartTotal}"></h5>
            </td>
          </tr>

          <tr>
            <td>

            </td>
            <td>

            </td>
            <td th:if="${cart_items != null}">
              <h5>Subtotal</h5>
            </td>
            <td>
              <h5 th:if="${cart_items != null}" th:text="${totalCartPrice}"></h5>
            </td>
          </tr>

          <tr class="out_button_area">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <div class="checkout_btn_inner">
                <a class="gray_btn" th:href="@{/shop}" href="#">Continue Shopping</a>
                <a th:if="${cart_items != null}" class="main_btn" th:href="@{/checkout}">Proceed to checkout</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->


<section th:replace="layouts/front-end/main :: subscription" id="subscription"></section>

<section th:replace="layouts/front-end/main :: footer" id="footer"></section>

<div th:replace="layouts/front-end/main :: script"></div>

</body>
</html>